
.drawer {
  /* padding: 20px; */
  width: 0;
  height: 100vh;
  background-color: #fff;
  transition: width 2s;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  flex-direction: column;

}
.drawerMenuItem {
  border-bottom: 1px solid #ececec;
  margin: 20px 0;
  padding: 10px 0;
}
.homepage {
  /* max-width: 100%; */
  width: 100vw;
  /* overflow-x: hidden; */
}
.nav {
  height: 87px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 0 150px;
  justify-content: space-between;
  /* padding: 0 50px; */
}
.navMobile {
  height: 87px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  display: none;
  /* padding: 0 50px; */
}
.logo {
  /* padding-left: 10vw; */
}
.menu {
  /* padding-right: 10vw; */
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background: #7261ff;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
}
.buttonUnfilled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  color: #7261ff;
  border: 1px solid #7261ff;
  border-radius: 5px;
  background-color: #fff;
}
.hero-section {
  display: flex;
  padding: 80px 150px;
  background-position: center;
  /* background-color: #7261ff; */
  height: calc(80vh - 87px);
  line-height: 66px;
}
.text-section {
  padding: 24px;
  width: 50%;
}
.text-section > p {
  line-height: 34px;
  font-size: 20px;
}
.text-section-heading {
  font-size: 54px;
}
.image-section > img {
  height: 455px;
}
.section2 {
  padding: 80px 150px;
}
.propertyTypesList {
  margin-top: 50px;
  column-gap: 100px;
  row-gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.propertyItem {
  background-color: #9e9e9e1f;
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 140px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  color: #323232;
}
.section3 {
  padding: 50px 64px;
}
.card-container {
  padding: 50px 24px;
  border-radius: 10px;
  background: #fff;
  /* display: flex; */
}
.card-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
.cardItem {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 415px;
  box-shadow: 0px 0px 5px #84848433;
  padding-bottom: 2px;
  justify-content: space-between;
}
.cardItemBody {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .navMobile {
    display: flex;
  }
  .hero-section {
    flex-direction: column;
    padding: 20px;
  }
  .text-section-heading {
    font-size: 30px;
    line-height: 43.5px;
    text-align: center;
  }
  .text-section {
    width: 100%;
    padding: 0;
  }
  .text-section > p {
    text-align: center;
  }
  .playbtn {
    flex-direction: column;
  }
  .button {
    width: 100%;
  }
  .watchbtn {
    margin: 0;
  }
  .image-section > img {
    height: 317px;
  }
  .section2 {
    padding: 80px 20px;
  }
  .section3 {
    padding: 50px 20px;
  }
  .card-item-container {
    flex-direction: column;
  }
  .propertyTypesList {
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
}
